<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.devgirl.pgb-push-app2"
        version   = "0.0.1">
    <name>Push Plugin Sample</name>

    <description>
        Push Plugin Sample for PhoneGap Build
    </description>

    <author href="http://devgirl.org" email="hschinsk@adobe.com">
        Holly Schinsky
    </author>
	
	
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/network"/>
     
    <access origin="http://www.ttransforme.com/*" subdomains="true" />

    <preference name="phonegap-version" value="2.3.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />


    <icon src="icon.png" />

    
	<gap:plugin name="GenericPush"/>
</widget>
